@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes swimInLeft {
    from {
        transform: translateX(-1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes swimInRight {
    from {
        transform: translateX(1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}