@import "../abstracts/variables.scss";
.btn-link {
    text-decoration: none;
    padding: 10px 15px;
    transition: all .2s ease-in;
    
    &:hover {
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(0px);
    }
}
.button-group {
    display: flex;

    .btn-link:nth-child(1) {
        margin-right: 15px;
    }
}
    
.btn-primary {
    color: $secondary-text-color;
    border: 1px solid $accent-color;
    background-color:$accent-color;
}
.btn-secondary {
    color: $accent-color;
    border: 1px solid $accent-color;
}
.link {
    text-decoration: underline;
    color: $dark-primary-color;
    font-size: 1.3em;
    transition: all .2s ease-in;

    &:hover,
    &:active {
        color: $accent-color;
    }
}
.tag-link {
    text-decoration: none;
    color: $dark-primary-color;
    font-size: 1em;
    font-weight: 700;
    margin-right: 10px;
}
button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    color: $secondary-text-color;
    font-size: 1.5em;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover {
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(0px);
    }
}


@media screen and (max-width: 425px) {
    .button-group {
        flex-direction: column;
        .btn-link {
            display: block;
            max-width: 300px;
            margin: 0 auto;
        }
        .btn-link:nth-child(1) {
            margin: 0 auto 15px;
        }
    }
}